body{
	margin: 0px;
	padding: 0px;
}
.container {
    width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

.movies-channel {
    width: 1200px;
    margin: auto;
}

.subnav {
    background-color: #47464a;
    height: 60px;
    width: 100%;
    min-width: 1200px;
    text-align: center;
    margin-top: 80px;
}

.subnav .navbar {
    display: inline-block;
    overflow: hidden;
}

.subnav li, .subnav ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.subnav .navbar li {
    display: inline-block;
    float: left;
}

.subnav .navbar li a {
    display: block;
    font-size: 16px;
    color: #999;
    height: 60px;
    line-height: 60px;
    padding: 0 40px;
}

.subnav .navbar li .active {
    color: #ef4238;
    position: relative;
    cursor: default;
}

a:focus, div:focus, input:focus {
    outline: none;
}

a {
    text-decoration: none;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.movies-panel {
    margin-top: 40px;
}

.movies-sorter {
    overflow: hidden;
}

.movie-list {
    margin: auto;
    margin-top: -29px;
}

.movie-list dd {
    margin:30px 0 0 30px;
    display:inline-block;
    vertical-align:top;
    position:relative;
}

.movie-item {
    position: relative;
    border: 1px solid #efefef;
    margin: -1px;
}

.movie-poster {
    background-color: #fcfcfc;
    width: 160px;
    height: 220px;
    overflow: hidden;
    position: relative;
}

img {
    border-style: none;
}

.movie-poster img {
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
}

.movie-poster .poster-default {
    top: 50%;
    left: 50%;
    width: 68px;
    height: 62px;
    margin-top: -31px;
    margin-left: -34px;
}

.movie-ver {
    position: absolute;
    top: 4px;
    left: -2px;
    font-size: 12px;
    color: #fff;
}

.movie-ver i {
    display: inline-block;
}

.movie-ver i.imax2d {
    width: 69px;
    height: 25px;
    background-image: url(../images/2DIMAX.png);
}

.movie-item-hover {
    display: none;
    position: absolute;
    width: 218px;
    height: 300px;
    z-index: 10;
    top: -40px;
    left: -29px;
    overflow: hidden;
    background: #fff;
    -moz-box-shadow: 0 0 16px #fff,0 0 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 16px #fff,0 0 6px rgba(0,0,0,.2);
    box-shadow: 0px 0px 16px #fff, 0px 0px 6px rgba(0,0,0,0.2);
}

img.movie-hover-img {
    width: 218px;
    height: 300px;
    vertical-align: middle;
    position: absolute;
    z-index: 10;
}

.movie-hover-info {
    padding: 16px;
    height: 150px;
    box-sizing: border-box;
    position: absolute;
    z-index: 11;
    top: 150px;
    background: #fff;
    width: 218px;
}

:first-child.movie-hover-title {
    margin-top: 6px;
    font-size: 20px;
    color: #333;
    line-height: 20px;
}

.movie-hover-title {
    font-size: 16px;
    line-height: 16px;
    color: #999;
    margin-top: 12px;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.movie-item-hover .noscore {
    width: 100%;
}

.movie-item-hover .name {
    float: left;
    width: 140px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.hover-tag {
    color: #333;
}

.channel-detail a {
    color: #333;
}

.channel-detail {
    width: 160px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    font-size: 16px;
    color: #333;
    margin-top: 10px;
}

.channel-detail-orange, .channel-detail-prescore {
    color: #ffb400;
}

.stonefont {
    font-family: stonefont;
}

.movie-ver i.m3d {
    width: 31px;
    height: 25px;
    background-image: url(../images/3D.png);
}

.movie-ver i.imax3d {
    width: 69px;
    height: 25px;
    background-image: url(../images/3DIMAX.png);
}
