body{
	margin: 0px;
	padding: 0px;
}
.header form .searchbody{
	background-color:#fff;
	margin:0;
}
dd, dl, dt, h1, h2, h3, h4, h5, h6, li, p, ul{
	margin:0;
	padding:0;
} 

h1{
	font-size:2em;
/*	margin:.67em 0;*/
} 
.header{
	position:fixed;
	top:0px;
	z-index:999;
	width:100%;
	min-width:1200px;
	background-color:#fff;
	border-bottom:1px solid #d8d8d8;
}

.header .header-inner{
	width:1200px;
	margin:0 auto;
	height:80px;
}

.header .logo{
	float:left;
	width:133px;
	height:80px;
	background:url(../images/Logo.png) no-repeat 0;
	background-size:contain;
} 

.city-container{
	position:relative;
	float:left;
	margin:0 8px;
	height:100%;
} 

.city-container .city-selected{
	cursor:pointer;
	height:100%;
	padding:0 10px;
	border:1px solid transparent;
	border-width:0 1px;
	z-index:101;
} 

.city-container .city-name{
	display:inline-block;
	margin-top:32px;
	color:#333;
} 

.caret{
	display:inline-block;
	width:0px;
	height:0px;
	margin-left:2px;
	vertical-align:middle;
	border-top:5px solid #666;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	transition:all .2s ease;
}


a{
	text-decoration:none;
} 

a{
	background-color:transparent;
} 

.city-container .city-list .city-list-header{
	padding-left:20px;
	ine-height:58px;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:10px;
} 

.city-container .city-list span.recent-city-title{
	width:80px;
	display:block;
	line-height:24px;
	float:left;
} 

.city-container .city-list div.recent-city-list{
	line-height:24px;
	margin-left:80px;
} 

.city-container .city-list div.recent-city-list a{
	display:inline-block;
	padding
	:0 5px;
	text-align:center;
	margin-bottom:5px;
	cursor:pointer;
} 

.city-container .city-list .city-list-header a{
	cursor:pointer;
} 

.header form, .header h3, .header input, .header li, .header ul{
	padding:0;
	margin:0;
	list-style:none;
	border:none;
} 

.city-container .city-list ul li{
	line-height:30px;
} 

.city-container .city-list ul li span{
	margin-left:20px;
	width:20px;
	text-align:center;
	float:left;
	vertical-align:top;
	display:block;
	background-color:#eee;
	font-weight:700;
	line-height:20px;
	margin-top:5px;
}

.city-container .city-list ul li div{
	margin-left:40px;
	display:block;
	margin-bottom:10px;
} 

.city-container .city-list ul li{
	line-height:30px;
}  

.city-container .city-list ul li div a{
	display:inline-block;
	line-height:24px;
	margin-top:3px;
	padding:0 5px;
	text-align:center;
	cursor:pointer;
} 

.header .nav{
	display:inline-block;
	background-color:#fff;
	overflow:hidden;
	float:left;
} 


.header .nav .navbar li{
	float:left;
} 

.header .nav .navbar li a.active{
	color:#fff;
	background-color:#ef4238;
} 


.header .nav .navbar li a{
	text-align:center;
	display:inline-block;
	height:80px;
	line-height:80px;
	width:70px;
	font-size:18px;
	color:#333;
}

.header .user-info{
	float:right;
	position:relative;
	z-index:9999;
	height:100%;
} 

.header .user-info .user-avatar{
	display:block;
	border:1px solid transparent;
	border-top:none;
	border-bottom:none;
	padding:0 10px;
	width:60px;
	height:100%;
} 

.header .user-info .user-avatar img{
	margin-top:20px;
	width:40px;
	height:40px;
	border-radius:50%;
	cursor:pointer;
} 

img{
	border-style:none;
} 

.header .user-info .user-avatar .caret{
	position:absolute;
	top:39px;
	right:10px;
} 

.caret{
	display:inline-block;
	width:0px;
	height:0px;
	margin-left:2px;
	vertical-align:middle;
	border-top:5px solid #666;
	border-right:5px solid transparent;
	border-left:5px solid transparent;
	/*-webkit-transition:all .2s ease;*/
	transition:all .2s ease;
} 

.header .user-info .no-login-menu{
	padding:15px 24px 5px;
} 

.header .user-info .user-menu{
	display:none;
	position:absolute;
	right:0px;
	top:80px;
	border:1px solid #d8d8d8;
	background-color:#fff;
	font-size:14px;
	color:#333;
	text-align:right;
	padding:15px 10px 5px;
	text-align:center;
} 


.header .user-info .user-menu li{
	margin-bottom:6px;
} 


.header .user-info .user-menu li > a{
	color:#999;
	display:block;
	word-break:keep-all;
	white-space:nowrap;
	overflow:hidden;
	text-overflow:ellipsis;
} 

.header form{
	float:right;
	margin:20px 10px 0 0;
	position:relative;
} 


.header form .search{
	display:inline-block;
	height:40px;
	line-height:1.2;
	width:220px;
	padding:0 40px 0 20px;
	border:1px solid #ccc;
	font-size:14px;
	border-radius:30px;
	background-color:#faf8fa;
	overflow:hidden;
	color:#333;
	outline: none;
} 

.header form input{
	/*-webkit-box-sizing:border-box;*/
	box-sizing:border-box;
} 

[type=search]{
	-webkit-appearance:textfield;
	outline-offset:-2px;
} 


button, input, select, textarea{
	font:inherit;
	/*margin:0;*/
} 

.header form .submit{
	display:inline-block;
	position:absolute;
	left:180px;
	top:0px;
	height:40px;
	width:40px;
	background-color:#ef4238;
	border-radius:30px;
	background-image:url(../images/Sousuo.png);
	cursor:pointer;
	background-repeat:no-repeat;
	background-position: center;
	outline: none;
} 
.header form .submit1{
	display:inline-block;
	position:absolute;
	left:180px;
	top:0px;
	height:40px;
	width:40px;
	background-color:#ef4238;
	border-radius:30px;
	background-image:url(../images/Sousuo.png);
	cursor:pointer;
	background-repeat:no-repeat;
	background-position: center;
	outline: none;
} 

.header form input{
/*	-webkit-box-sizing:border-box;*/
	box-sizing:border-box;
} 

button, input{
	overflow:visible;
} 

button, input, select, textarea{
	font:inherit;
	/*margin:0;*/
} 

.user-info .dl{
	margin-top: -80px;
	width: 80px;
	height: 130px;
	border-color: rgb(239, 239, 239);
	border-style: solid;
	border-width: 1px;
	background-color: #FFFFFF;
}
.dl-span-dl{
	margin-top: 100px;
	text-align: center;
}

.dl{
	display:none;
}
.dl-span-dl a{
	color:  rgb(153, 153, 153);
}