.header{
	border-bottom: 2px solid #e02025;
}
.tou1{
	display: block;
	margin: 0 auto;
	width: 980px;
}
.section{
	margin: 0 auto 30px;
    padding-top: 30px;
    width: 1200px;
    min-height: 300px;
}
.box-left{
	display: inline-block;
}
.box-right{
	display: inline-block;
}
.shen1{
	position: relative;
	padding: 8px 0 8px 110px;
}
.shen1 span{
	position: absolute;
    left: 0;
    width: 100px;
    padding-top: 6px;
    font-size: 14px;
    text-align: right;
    color: #333;
}
.shen1 input{
	width: 248px;
    height: 24px;
    padding: 5px;
	outline:none;
    line-height: 24px;
	border: 1px solid #aaaaaa;
}
.shen2{
	position: relative;
	padding: 8px 0 8px 110px;
}
.shen2 input{
	border: #e02025;
    color: #FFF;
    padding: 7px 20px 6px;
    font-weight: 700;
    line-height: 1.5;
	background: #ec454a;
}
.shen3{
	position: relative;
    padding: 3px 10px 3px 590px;
    margin: 0 auto 8px;
	font-size: 13px;
}
.shen3 a{
	color: #ec454a;
	text-decoration: none;
}
.shen4{
	position: relative;
	padding: 8px 0 8px 110px;
}
.shen4 input{
	padding: 1px 8px 0;
    font-size: 12px
}
.wei{
	border-top: 1px solid #EEE;
    padding-top: 20px;
    text-align: center;
    font-size: 13px;
	color: #999;
}
.wei a{
	color: #999;
	text-decoration: none;
}